$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Lato", "Arial", sans-serif;

$green: #68b738;


$tablet: 768px;
$desktop: 1200px;
$mobile: 767px;

@use "sass:map";
$color: ("main": #ffffff, "secondary": #f2f2f2);
