.additional__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.additional__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.additional__title {
  margin-left: 20px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet) {
    margin-left: 30px;
    border: none;
  }

  @media (min-width: $desktop) {
    margin-left: 110px;
  }
}

.additional__title::after {
  content: "";
  position: absolute;
  width: 34px;
  height: 2px;
  background-color: $green;
  top: 20px;
  right: 0;
}
