.additional-card {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto min-content;
  align-items: center;

  @media (min-width: $tablet) {
    grid-template-columns: auto auto;
    grid-template-rows: auto min-content;
    padding: 0 38px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 326px auto min-content;
    grid-template-rows: auto;
    padding: 0;
  }
}

.additional-card__link {
  text-decoration: none;
  padding: 13px 0;


  @media (min-width: $tablet) {
    padding: 25px 0;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / 2;
  }
}

.additional-card__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-card__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    justify-content: end;
    gap: 49px;
  }

  @media (min-width: $desktop) {
    grid-column: 2 / 3;
    justify-content: space-between;
    margin: 0;
    margin-right: 40px;
    gap: 0;
  }
}

.additional-card__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #444444;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional-card__button {
  margin-bottom: 19px;
  grid-column: 1 / -1;

  @media (min-width: $tablet) {
    margin-bottom: 28px;
  }

  @media (min-width: $desktop) {
    grid-column: 3 / 4;
    margin: 0;
  }
}
