.benefits__list {
  display: grid;
  grid-template-rows: auto;
  row-gap: 20px;
  margin: 0;
  padding: 40px 0 49px;
  list-style: none;

  @media (min-width: $tablet) {
    grid-template-columns: auto auto;
    gap: 79px 125px;
    padding: 72px 79px 47px 0;

    :nth-child(2n) {
      justify-self: end;
    }
  }

  @media (min-width: $desktop) {
    grid-template-columns: 250px 252px 250px 245px;
    grid-template-rows: auto;
    gap: 0;
    padding: 72px 0 0;
    justify-content: space-between;
  }
}

.benefits__item {
  position: relative;
  display: flex;
  padding-left: 80px;
  min-height: 60px;

  @media (min-width: $tablet) {
    min-height: 240px;
    padding-left: 0;
    align-items: center;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-color: $green;
    background-size: 32px 32px;
    background-position: center;
    width: 60px;
    height: 60px;

    @media (min-width: $tablet) {
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    @media (min-width: $tablet) {
      counter-increment: item;
      content: counter(item) "";
      position: absolute;
      top: 0;
      left: 118px;
      width: 134px;
      height: 240px;
      font-family: $primary-font;
      font-style: normal;
      font-weight: 400;
      font-size: 280px;
      line-height: 200px;
      color: #f2f2f2;
      z-index: -1;
    }
  }
}

.benefits__item--nutrition::before {
  background-image: url("../../icons/stack.svg#benefits-nutrition");
}

.benefits__item--powder::before {
  background-image: url("../../icons/stack.svg#benefits-powder");
}

.benefits__item--functional::before {
  background-image: url("../../icons/stack.svg#benefits-functional");
}

.benefits__item--change::before {
  background-image: url("../../icons/stack.svg#benefits-change");
}

.benefits__title {
  counter-reset: item;
  margin: 0;
  margin-top: 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: #000000;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 47px;
  }

  @media (min-width: $desktop) {
    margin-top: 71px;
  }
}

.benefits__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: auto 0;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    align-self: end;
    margin: 0;
    margin-bottom: 58px;
    max-width: 280px;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}
