.button {
  font-family: $primary-font;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $green;
  border: none;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--program {
  padding: 10px 56px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
    padding: 14px 26px;
  }
}

.button--order {
  padding: 10px 109px;

  @media (min-width: $tablet) {
    padding: 10px 94px;
  }

  @media (min-width: $desktop) {
    padding: 10px 40px;
  }
}

.button--additional {
  padding: 10px 109px;

  @media (min-width: $tablet) {
    padding: 10px 280px;
  }

  @media (min-width: $desktop) {
    padding: 10px 91px;
  }
}

.button--more {
  padding: 10px 95px;
  color: #444444;
  background-color: #f2f2f2;

  @media (min-width: $tablet) {
    padding: 10px 80px;
  }

  @media (min-width: $desktop) {
    padding: 10px 30px;
  }
}

.button--submit {
  padding: 15px 81px;
  font-size: 20px;
  line-height: 26px;

  @media (min-width: $desktop) {
    padding: 15px 70px;
  }
}

.button--form {
  padding: 10px 78px;
}
