.button {
  font-family: $primary-font;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $green;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.button--program {
  padding: 14px 26px;
}

.button--order {
  padding: 10px 109px;
}

.button--more {
  padding: 10px 95px;
  color: #444444;
  background-color: #f2f2f2;
}

.button--submit {
  padding: 15px 81px;
  font-size: 20px;
  line-height: 26px;
}

.button--form {
  padding: 10px 78px;
}
