.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
}

.contacts__invite {
  min-height: 60px;

  @media (min-width: $tablet) {
    min-height: 80px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 50%;
    left: 110px;
    min-height: 199px;
    min-width: 565px;
  }
}

.contacts__iframe {
  display: block;
  border: none;
  height: 362px;

  @media (min-width: $tablet) {
    height: 400px;
  }
}

.contacts__map {
  display: none;
  width: 100vw;
}
