.contacts-invite__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.contacts-invite__adress {
  font-family: $lato-font;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
