.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
}

.contacts__invite {
  min-height: 60px;

  @media (min-width: $tablet) {
    min-height: 80px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 95px;
    left: 0;
    min-height: 199px;
    min-width: 565px;
    padding: 60px 80px;
  }
}

.contacts__iframe {
  display: block;
  border: none;
  height: 362px;

  @media (min-width: $tablet) {
    height: 400px;
  }
}

.contacts__map {
  display: block;
  position: absolute;
  object-fit: cover;
  top: 112px;
  width: 100vw;

  @media (min-width: $tablet) {
    top: 203px;
  }

  @media (min-width: $desktop) {
    top: 0;
    z-index: -1;
  }
}
