.copyright__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  gap: 24px;

  &:hover .copyright__logo,
  &:focus .copyright__logo {
    color: $green;
  }

  &:active .copyright__logo {
    color: $green;
    opacity: 0.3;
  }

  &:active .copyright__title {
    opacity: 0.3;
  }
}

.copyright__logo {
  color: #666666;
}

.copyright__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  min-width: 113px;
  align-self: center;
  color: #444444;
  cursor: pointer;
}
