.example {
  background-color: #eaeaea;

  @media (min-width: $tablet) {
    background: linear-gradient(to top, #eaeaea 462px, #ffffff 462px);
  }
}

.example__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(5, auto);

  @media (min-width: $tablet) and (max-width: $desktop) {
    border-top: 1px solid #e6e6e6;
    padding: 0 30px 100px;
  }

  @media (min-width: $desktop) {
    border: none;
    max-width: 1220px;
    min-height: 598px;
    margin: 0 auto;
    margin-top: 69px;
    padding-bottom: 75px;
  }
}

.example__title {
  grid-column: 1 / -1;
  margin: 0;
  margin-top: 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: #000000;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 45px;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / 2;
    margin: 0;
  }
}

.example__description {
  grid-column: 1 / -1;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-top: 40px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 60px;
    max-width: 600px;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / 2;
    margin-top: 146px;
    max-width: 432px;
  }
}

.example__list {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  justify-self: center;
  gap: 32px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    grid-column: 1 / 2;
    margin-top: 55px;
    justify-content: left;
    gap: 43px;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / 2;
    margin-top: 69px;
  }
}

.example__price {
  grid-column: 1 / -1;
  display: flex;
  justify-self: center;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 20px;

  @media (min-width: $tablet) {
    grid-column: 2 / 3;
    flex-direction: column;
    justify-self: end;
    text-align: right;
    gap: 9px;
    font-size: 20px;
    line-height: 20px;
    margin-top: 66px;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / 2;
    flex-direction: row;
    justify-self: left;
    gap: 63px;
    margin-top: 55px;
  }
}

.example__slider {
  grid-column: 1 / -1;
  margin-bottom: 55px;

  @media (min-width: $desktop) {
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }
}
