.example {
  background-color: #eaeaea;
}

.example__title {
  grid-column: 1 / -1;
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.example__description {
  grid-column: 1 / -1;
  font-family: $lato-font;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__list {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.example__price {
  grid-column: 1 / -1;
  text-align: center;
}

.example-slider {
  grid-column: 1 / -1;
}
