.example {
  background-color: #eaeaea;

  @media (min-width: $tablet) {
    background: linear-gradient(to bottom, #ffffff 621px, #eaeaea 621px);
  }

  @media (min-width: $desktop) {
    background: linear-gradient(to bottom, #ffffff  205px, #eaeaea 205px);
  }
}

.example__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(5, auto);

  @media (min-width: $tablet) {
    border-top: 1px solid #e6e6e6;
    padding: 0 30px 97px;
  }

  @media (min-width: $desktop) {
    border: none;
    max-width: 1220px;
    min-height: 598px;
    margin: 0 auto;
    padding: 21px 0 76px;
  }
}

.example__title {
  grid-column: 1 / -1;
  margin: 0;
  margin-bottom: 40px;
  padding-top: 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: #000000;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 45px;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / 2;
    margin-bottom: 150px;
  }
}

.example__description {
  grid-column: 1 / -1;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    max-width: 708px;
    margin-bottom: 59px;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / 2;
    max-width: 432px;
    margin-bottom: 69px;
  }
}

.example__list {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  justify-self: center;
  gap: 32px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    grid-column: 1 / 2;
    justify-self: left;
    gap: 43px;
    margin: 0;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / 2;
    margin-bottom: 45px;
  }
}

.example__price {
  grid-column: 1 / -1;
  display: flex;
  justify-self: center;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    grid-column: 2 / 3;
    flex-direction: column;
    justify-self: end;
    text-align: right;
    gap: 9px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 115px;
    padding-top: 10px;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / 2;
    flex-direction: row;
    justify-self: left;
    gap: 66px;
    padding: 0;
    margin: 0;
  }
}

.example__slider {
  grid-column: 1 / -1;
  margin-bottom: 35px;

  @media (min-width: $tablet) {
    margin: 0;
  }

  @media (min-width: $desktop) {
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    place-self: end end;
  }
}
