.example-item__title {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 14px;
  min-width: 124px;
  min-height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 32px;
    min-width: 162px;
    min-height: 71px;
  }
}

.example-item__description {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  color: #444444;
  margin: 0 auto;
  margin-top: -10px;
  width: 77px;
  height: 24px;
  background-color: #eaeaea;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 14px;
    width: fit-content;
    height: 24px;
    background-color: #ffffff;
    padding: 0 10px;
  }

  @media (min-width: $desktop) {
    background-color: #eaeaea;
  }
}
