.form__cat-data {
  margin: 0;
  padding: 0;
  border: none;
}

.form__cat-data--goal {
  padding: 20px 20px 20px 45px;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__item {
  margin-bottom: 13px;
}

.form__title {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.form__label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form__input {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  margin-left: 13px;
  padding: 14px 15px 13px;
  min-height: 45px;
  flex-grow: 1;
}

//Radio

.form__label--radio::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -45px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #cdcdcd;
}

.form__input--radio:checked ~ .form__label--radio::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: -36px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: $green;
}

//Owner-data

.form__label--mail::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -30px;
  width: 20px;
  height: 20px;
  background-image: url("../../icons/stack.svg#form-mail");
}

.form__label--phone::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -30px;
  width: 20px;
  height: 20px;
  background-image: url("../../icons/stack.svg#form-phone");
}

//Checkbox

.form__label--checkbox::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -45px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #cdcdcd;
}

.form__input--checkbox:checked ~ .form__label--checkbox::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: -38px;
  background-image: url("../../icons/stack.svg#form-tick");
  width: 18px;
  height: 14px;
}

.form__remark {
  font-family: $lato-font;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}
