.hero {
  color: #ffffff;
  background-color: #64a73c;
  text-align: center;
}

.hero__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.hero__subtitle {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
