.main-index {
  position: relative;

  @media (min-width: $desktop) {
    position: static;
  }
}

.main-index::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(rgb(122, 190, 82, 0.8), rgb(122, 190, 82, 0.8)), url("../../images/hero-background-mobile@1x.png"), linear-gradient(to right, #535257, #403f44);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 302px;
  top: 0;
  left: 0;
  z-index: -1;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgb(122, 190, 82, 0.8), rgb(122, 190, 82, 0.8)), url("../../images/hero-background-mobile@2x.png"), linear-gradient(to right, #535257, #403f44);
  }

  @media (min-width: $tablet) {
    content: none;
  }

  @media (min-width: $desktop) {
    content: "";
    background-image: linear-gradient(rgb(122, 190, 82, 0.8), rgb(122, 190, 82, 0.8)), url("../../images/hero-background-desktop@1x.png"), linear-gradient(to right, #535257, #403f44);
    width: 50%;
    height: 694px;
    top: 0;
    left: 50%;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgb(122, 190, 82, 0.8), rgb(122, 190, 82, 0.8)), url("../../images/hero-background-desktop@2x.png"), linear-gradient(to right, #535257, #403f44);
    }
  }
}
