.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 34px 0 30px;
  }

  @media (min-width: $desktop) {
    padding: 0;
    padding-top: 55px;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 13px 15px 14px 20px;
  width: 100%;

  @media (min-width: $tablet) {
    width: auto;
    padding: 0;
    justify-content: flex-start;
    border: none;
  }
}

.main-header__wrapper--border {
  @media (max-width: $mobile) {
    border-bottom: 1px solid #d9d9d9;
  }
}

.main-header__link {
  display: flex;
  align-items: center;
  text-decoration: none;

  @media (min-width: $tablet) {
    padding-right: 13px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__toggle {
  display: block;
  margin: 0;
  padding: 0 19px;
  border: none;
  background-image: url("../../icons/stack.svg#menu-close");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center;
  background-color: #ffffff;
  min-height: 24px;
  min-width: 24px;
  cursor: pointer;

  &--open {
    background-image: url("../../icons/stack.svg#menu-open");
    background-size: 24px;
  }

  &--nojs {
    cursor: none;
    background-image: none;
  }
}


@media (min-width: $tablet) {
  .main-header__toggle,
  .main-header__toggle--open {
    display: none;
  }
}

.main-header__logo-image {
  display: block;
}

.main-header__logo-letters {
  @media (min-width: $desktop) {
    width: 118px;
    height: 21px;
  }
}
