.main-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 30px 0;
  }

  @media (min-width: $desktop) {
    padding: 55px 110px 0;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 13px 20px 15px;
  width: 100%;

  @media (min-width: $tablet) {
    width: auto;
    padding: 0;
    justify-content: flex-start;
    border: none;
  }
}

.main-header__link {
  display: flex;
  align-items: center;
  text-decoration: none;

  @media (min-width: $tablet) {
    padding-right: 13px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__toggle {
  display: block;
  margin: 0;
  padding: 20px;
  border: none;
  background-image: url("../../icons/stack.svg#menu-close");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  background-color: #ffffff;
  min-height: 24px;
  min-width: 24px;
  cursor: pointer;
}

.main-header__toggle--open {
  background-image: url("../../icons/stack.svg#menu-open");
}

@media (min-width: $tablet) {
  .main-header__toggle,
  .main-header__toggle--open {
    display: none;
  }
}
