@media (max-width: $mobile) {
  .main-navigation {
    background-color: #ffffff;
    top: 64px;
    left: 50%;
    transform: translateX(-50%);
    width: 101%;
    z-index: 1;
    border-top: 1px solid #e6e6e6;
  }

  .main-navigation--is-open {
    position: absolute;
  }

  .main-navigation--is-close {
    display: none;
  }

  .main-navigation--nojs {
    position: static;
    transform: none;
    display: block;
  }
}

.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    display: flex;
    gap: 34px;
  }

  @media (min-width: $desktop) {
    &--white {
      color: #ffffff;
    }
  }
}

.main-navigation__item {
  padding-top: 22px;
  padding-bottom: 19px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet) {
    padding: 0;
    border: none;
  }
}

.main-navigation__link {
  position: relative;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  padding: 15px;

  @media (min-width: $tablet) {
    display: block;
    font-size: 18px;
    line-height: 24px;
    padding: 12px 0;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-navigation__link--current::after {
  @media (min-width: $tablet) {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: $green;
  }

  @media (min-width: $desktop) {
    bottom: 3px;
  }
}

.main-navigation__list--white .main-navigation__link--current::after {
  @media (min-width: $desktop) {
    background-color: #ffffff;
  }
}
