.main-navigation {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.main-navigation__list {
  margin: 0;
  list-style: none;
}

.main-navigation__link {
  text-decoration: none;
}
