.options__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  list-style: none;

  @media (min-width: $tablet) {
    gap: 30px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
    padding-top: 82px;
  }
}

.options__item {
  min-height: 266px;
  padding: 30px 20px 0;
  background-color: #f2f2f2;

  @media (min-width: $tablet) {
    min-height: 372px;
    padding: 77px 0 44px 52px;
  }

  @media (min-width: $desktop) {
    padding: 75px 65px 49px 52px;
    width: calc(50% - 40px);
    min-height: 374px;
  }
}
