.options-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 18px;
  background-color: #f2f2f2;
  min-height: 266px;
}

.options-item::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: $green;
  border-radius: 50%;
  min-width: 50px;
  min-height: 53px;
}

.options-item--slim::after {
  content: "";
  position: absolute;
  left: 30px;
  top: 20px;
  background-image: url("../../icons/stack.svg#cat-sit");
  background-repeat: no-repeat;
  min-width: 36px;
  min-height: 50px;
}

.options-item--pro::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 30px;
  background-image: url("../../icons/stack.svg#cat-walk");
  background-repeat: no-repeat;
  min-width: 67px;
  min-height: 28px;
}

.options-item__title {
  margin: 0;
  padding-left: 30%;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}

.options-item__description {
  position: relative;
  margin: 0;
  flex-grow: 1;
  padding-top: 29px;
  font-family: $lato-font;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.options-item__description::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  border: 1px solid #d9d9d9;
}

.options-item__link {
  position: relative;
  display: block;
  width: 134px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  &:active {
    opacity: 0.3;
  }
}

.options-item__link::after {
  content: "";
  position: absolute;
  right: 0;
  top: 25%;
  mask-image: url("../../icons/stack.svg#arrow-program");
  mask-repeat: no-repeat;
  mask-size: 32px 10px;
  mask-position: -8px;
  background-color: #000000;
  width: 32px;
  height: 10px;
}

.options-item__link:hover::after {
  mask-position: -3px;
}
