.production-card {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto min-content;

  @media (min-width: $tablet) {
    grid-template-rows: auto min-content min-content;
    background: linear-gradient(to bottom, #ffffff 81px, #f2f2f2 81px);
    justify-content: center;
  }
}

.production-card--more {
  grid-template-columns: auto;
  align-content: end;

  @media (min-width: $tablet) {
    background: none;

    &::before {
      content: "";
      position: absolute;
      width: calc(100vw / 2 - 60px);
      height: 429px;
      bottom: 0;
      left: 0;
      border: 2px solid #f2f2f2;
      z-index: -1;
    }

    @media (min-width: $desktop) {
      &::before {
        width: 245px;
        height: 431px;
      }
    }
  }
}

.production-card__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 24px;
  }
}

.production-card__title--more {
  text-align: center;
  margin-bottom: 8px;

  @media (min-width: $tablet) {
    margin-bottom: 24px;
  }
}

.production-card__term,
.production-card__description {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.production-card__term {
  text-align: left;
}

.production-card__description {
  text-align: right;
}

.production-card__subtitle {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: #222222;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 18px;
  }
}

.production-card__image-link {
  grid-column: 1 / 2;
  place-self: center center;
  min-width: 140px;
  padding-top: 7px;

  @media (min-width: $tablet) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 0;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.production-card__content {
  display: grid;
  grid-template-columns: 76px 64px;
  grid-template-rows: min-content min-content;
  justify-content: space-around;
  grid-column: 2 / 3;
  row-gap: 14px;
  padding: 20px 0;

  @media (min-width: $tablet) {
    grid-template-columns: auto auto;
    grid-column: 1 / -1;
    row-gap: 20px;
    padding: 10px 0 32px;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    row-gap: unset;
    padding: 0;
    margin: 0;
  }
}

.production-card__content--more {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 1 / -1;
  padding: 0;
  padding-bottom: 21px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../../icons/card-plus.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $tablet) {
    align-items: center;
    padding-bottom: 82px;

    &::before {
      width: 60px;
      height: 60px;
      top: -110px;
    }
  }

  @media (min-width: $desktop) {
    padding-bottom: 90px;

    &::before {
      top: -102px;
    }
  }
}

.production-card__link {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 0;
  text-decoration: none;
  text-align: left;

  @media (min-width: $tablet) {
    grid-column: 1 / -1;
    text-align: center;
    width: 132px;
    justify-self: center;
  }

  @media (min-width: $desktop) {
    margin-bottom: 21px;
  }

  &--more {
    @media (min-width: $tablet) {
      margin: 0;
      width: 170px;
    }
  }
}

.production-card__list {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: auto auto;
  margin: 0;

  @media (min-width: $tablet) {
    row-gap: 6px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 32px;
    row-gap: 9px;
  }
}

.production-card__button {
  display: block;
  grid-column: 1 / -1;
  min-width: 100%;
}
