.production-card {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto min-content;
  min-height: 209px;

  @media (min-width: $tablet) {
    min-width: 324px;
    min-height: 511px;
    grid-template-rows: auto auto min-content;
  }
}

.production-card__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.production-card__term,
.production-card__description {
  font-family: $lato-font;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}

.production-card__image-link {
  grid-column: 1 / 2;
  place-self: center center;

  @media (min-width: $tablet) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}

.production-card__content {
  grid-column: 2 / 3;

  @media (min-width: $tablet) {
    grid-column: 1 / -1;
  }
}

.production-card__content--more {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 1 / -1;
}

.production-card__link {
  margin: 0;
  text-decoration: none;
  text-align: center;
}

.production-card__link--more {
  grid-column: 1 / -1;
}

.production-card__link--more::after {
  content: "";
  position: relative;
  display: block;
  top: 10;
  left: 50%;
  background-image: url("../../icons/stack.svg#card-more");
  background-size: 30px;
  width: 30px;
  height: 30px;
}

.production-card__list {
  display: grid;
  grid-template-columns: auto auto;
}

.production-card__button {
  display: block;
  grid-column: 1 / -1;
  min-width: 250px;

  @media (min-width: $tablet) {
    place-self: center center;
  }
}
