.section-container {
  padding: 20px 20px 0;

  @media (min-width: $tablet) {
    padding: 30px 30px 0;
  }

  @media (min-width: $desktop) {
    padding: 82px 110px 0;
  }
}

.section-container--form {
  @media (min-width: $tablet) {
    padding: 70px 70px 0;
  }
}
