.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px 0;
  list-style: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  gap: 24px;

  @media (min-width: $tablet) {
    border: none;
    padding: 0;
    margin-left: 36px;
  }
}

.social-list__link {
  display: block;
  width: 28px;
  height: 22px;
  background-color: #666666;
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
  mask-position: center;

  &:hover,
  &:focus {
    background-color: $green;
  }

  &:active {
    background-color: $green;
    opacity: 0.3;
  }

  &--vkontakte {
    mask-image: url("../../icons/stack.svg#vkontakte");
  }

  &--youtube {
    mask-image: url("../../icons/stack.svg#youtube");
  }

  &--telegram {
    mask-image: url("../../icons/stack.svg#telegram");
  }
}
