.subscription__wrapper {
  margin-bottom: 40px;

  @media (min-width: $tablet) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop) {
    max-width: 1220px;
    margin: 0 auto;
    margin-bottom: 104px;
  }
}

.subscription__description {
  margin: 0;
  padding: 0 30px 24px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  cursor: default;

  @media (min-width: $tablet) {
    padding: 0 68px 24px;
    font-size: 24px;
    line-height: 32px;
  }

  @media (min-width: $desktop) {
    padding: 0;
    padding-bottom: 24px;
  }
}

.subscription__form {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: center;
  }
}

.subscription__input {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #444444;
  min-height: 56px;
  border: 1px solid #cdcdcd;
  margin-bottom: 16px;
  padding: 12px;

  @media (min-width: $tablet) {
    min-width: 376px;
    margin: 0;
  }

  @media (min-width: $desktop) {
    min-width: 496px;
  }
}
