.subscription__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.subscription__description {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.subscription__input {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #444444;
}
